body{
    text-align: center;
}

.post-body{
    position: absolute;
    left: 0;
    width: 50%;
    border: 5px solid red;
    height: 100%;
}

.upload-image{
    position: absolute;
    text-align: center;
    width: 50%;
    right: 0;
    border: 5px solid blue;
    height: 100%;
}