{% extends 'base.html' %}  <!--this copies the skeleton base html and now you can make it different-->

{% block head %}<!--Now whatever you put in here will appear on top of the base html in the location of the placeholder-->
<title>CSE312 Project</title> <!--This is what displays in the tabs-->
{% endblock %}

{% block body %}<!--Now whatever you put in here will appear on top of the base html in the location of the placeholder-->
<h1>CSE 312 Project!!</h1>
    <body>Team JJKM</body>
    <div class="content">
        
    </div>
{% endblock %}