{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}


{% block body %}
<body>
   <h1>Please enter your username and password</h1>
    <form action="/login" method="post">
        <label>Username
            <input id="login-form-username" type="text" name="login_username"/>
        </label>
        <label>Password
            <input id="login-form-password" type="text" name="login_password"/>
        </label>
        <input type="submit" value="Log in" <!--Creates a button that submits the data-->
    </form>

    <p>Don't have an account?
        <button id="Register-page" onclick="register_page()">Register</button> 
    </p>
    
</body>
{% endblock %}