{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<body background="/public/tech.jpg">

    <div class="contents">

        <div id="logreg">
            <form action="/signup" method="post">
                <h1>Login</h1>
                <label>Username<input id="login-form-username" type="text" name="login-username"/></label>
                <br/>
                <label>Password<input id="login-form-password" type="text" name="login-password"/></label>
                <br/>
                <label>Re-enter Password<input id="login-form-password2" type = 'text' name = 'login-password2'/></label>
                <br/>
                <a href='/signup'><button>Create</button></a>
            </form>

            <h1>Please enter your username and password</h1>
    <form action="/login" method="post">
        <label>Username
            <input id="login-form-username" type="text" name="login_username"/>
        </label>
        <label>Password
            <input id="login-form-password" type="text" name="login_password"/>
        </label>
        <input type="submit" value="Log in" <!--Creates a button that submits the data-->
    </form>

    <p>Don't have an account?
        <button id="Register-page" onclick="register_page()">Register</button> 
    </p>
        </div>

        <div class="explore-page">
            <div class="logout">Login
                <button id="comment-button" onclick="Login()">Login</button>
            </div>

            <h1>Explore</h1>

        </div>

        <div class="images" hidden>
            
            <div class="logout" hidden>End Session
                <button id="comment-button" onclick="Logout()">Logout</button>
            </div>

            <h1>Images</h1>
                <div id="images"</div>
                <img src="/public/homepage.jpg" alt="Homepage wallpaper" width="50%" height="350"/> <!--prints whatever value is in alt if img is not uploaded correctly-->
            
        </div>


        <hr>      


        <div class="peoples-comments" hidden>

            <h2>Comments</h2>
            <div id="comments"></div>

            <div class="add-comment">
                <hr>
                Add Comment
                <form action="/add_comment" method="POST">
                    <input type="text" name="new_comment" id="comment">
                    <input type="submit" value="Post"
                </form>
            </div>

        </div>

    </div>   
    
</body>
{% endblock %}
<!--
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <meta name="authors" content="Jon, Jeehum, Mike, Kameron"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=""X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
        <link rel="icon" type="image/x-icon" href="/public/eagle.ico">
    </head>

    <body onload="Startup()">
    <body background="/public/tech.jpg">
        <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
        <div class="contents">

            <div class="images">
                
                <div class="logout">End Session<a href='/logout'><button>logout</button></a></div>

                <h1>Images</h1>
                    <div id="images"</div>
                    <img src="/public/homepage.jpg" alt="Homepage wallpaper" width="50%" height="350"/>
                
            </div>


            <hr>      


            <div class="peoples-comments">

                <h2>Comments</h2>
                <div id="comments"></div>

                <div class="add-comment">
                    <hr>
                    Add Comment
                    <form action="/add_comment" method="POST">
                        <input type="text" name="new_comment" id="comment">
                        <input type="submit" value="Post"
                    </form>
                </div>

            </div>

        </div>   
        
    </body>

</html>
-->