{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
{% endblock %}


{% block body %}
<body onload="startup()">
    <div class="current-status">
        ※ Current status: Guest
    </div>

    <div class="authentication">
        
        <div class="register">
            <div style="font-size: medium; font-weight: bold;">Don't have an account?</div>
            <form action="/signup" method="post">
                <label>Username: <input id="login-form-username" type="text" name="login-username"/></label><br/>
                <label>Password: &nbsp;<input id="login-form-password" type="password" name="login-password"></label><br/>
                <label>Re-enter Password: &nbsp;<input id="login-form-password2" type = 'password' name = 'login-password2'></label><br/>
                <input type="submit" href='/signup' value="Create">
            </form>
        </div>

        <div class="login">
            <div style="font-size: medium; font-weight: bold;">Login</div>
                <form action="/login" method="post">
                    <label>Username: <input id="login-form-username" type="text" name="login_username"/></label><br>
                    <label>Password: &nbsp;<input id="login-form-password" type="password" name="login_password"></label><br>
                    <input type="submit" value="Log in">
                </form>
        </div>

        <div class="logout" hidden>
            <a href="/logout"><button id="logoutButton">Logout</button></a>
        </div>

    </div>
    

    <div class="container">
        <div class="epxlore-page">
            <h3 id="modifybyJS">Container</h3>
            <a href="/renderpostcreation"><button type="button">Create a Post!</button></a>
            <br><br/>
        </div>

        <div class="box1">
            <h1 id="subject1">Category 1</h1>
            <div id="scroll-container">
                <div id="body_placeholder"></div>
            </div>
            <br><br/>
            
            <div class="peoples-comments">
                <h2>Comments</h2>
                <div id="comments"></div>
                
                <div class="add-comment">
                    <form action="/add_comment" method="POST">Add a comment
                        <input type="text" name="new_comment" id="comment">
                        <input hidden type="text" name="post_id" id="post_id" value="-1">
                        <input type="submit" value="Post">
                    </form>
                </div>
            </div>
            <div id="comment_box"></div><button id="testbutton">Click Me!</button>
        
            <div class="arrows">
                <div class="arr up" id="arrup" type="button" onclick="arrow_up()"><div></div></div>
                <div class="arr down" id="arrdown" type="button" onclick="arrow_down()"><div></div></div>
            </div>
            <script>
                /* Need to modify this so that connection is only made when signing in*/
                postID = Number(document.getElementById("post_id")["value"]);
                username = document.getElementById("current-status")["value"];
                const socket = io({'transports':['websocket']});
                socket.emit("join", {channel: postID, user: username});
                /* Need to disconnect them from the room and reconnect to a new one when they:
                    increase the post
                    decrease the post  */
                document.getElementById("testbutton").addEventListener("click", function(){
                    socket.emit("SendMessage", { message: "test", channel: postID});
                });
                /*document.getElementById("logoutButton").addEventListener("click", function(){
                    //Disconnect Websocket
                });*/
                document.getElementById("arrup").addEventListener("click", function(){
                    /*Leave the current chat, enter the next*/
                    var newid = websockupdate(1);
                    console.log(1);
                    console.log(newid);
                    socket.emit("leave", {channel: postID});
                    socket.emit("join", {channel: newid,user: username});
                });
                document.getElementById("arrdown").addEventListener("click", function(){
                    /*Leave the current chat, enter the next*/
                    var newid = websockupdate(-1);
                    console.log(-1);
                    console.log(newid);
                    socket.emit("leave", {channel: postID});
                    socket.emit("join", {channel: newid,user: username});
                });
            </script>
        </div>
    </div>
</body>
{% endblock %}
