{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}


{% block body %}
<body onload="Startup()">
    <div class="contents">
        <div class="current-status">
            Current status: Guest
        </div>
        <!--<img src="/public/homepage.jpg" alt="Homepage background" class="my_image"/> -->
        <div class="login">
            <h3>Login</h3>
            <form action="/login" method="post">
                <label>Username: <input id="login-form-username" type="text" name="login_username"/></label>
                <br/>
                <label>Password: &nbsp;<input id="login-form-password" type="text" name="login_password"></label>
                <input type="submit" value="Log in"> <!--Creates a button that submits the data-->
            </form>
        </div>

        <div class="register">
            <h3>Don't have an account?</h3>
            <form action="/signup" method="post">
                <label>Username: <input id="login-form-username" type="text" name="login-username"/></label>
                <br/>
                <label>Password: &nbsp;<input id="login-form-password" type="text" name="login-password"></label>
                <br/>
                <label>Re-enter Password: &nbsp;<input id="login-form-password2" type = 'text' name = 'login-password2'></label>
                <br/>
                <input type="submit" href='/signup' value="Create">
                <!--<a href='/signup'><button>Create</button></a>-->
            </form>
        </div>
            

        <div class="container">
            <body>
                
                <div class="explore-page">
                    <h1>Explore</h1>
                    <!--<img src = "{{image}}">-->
                    <!--<img src= "{{url_for('static', filename='/public/homepage.jpg')}}" > -->
                </div>

                <div class="box1">
                    <h3>Category 1</h3>
                    <img src = "{{image1}}">

                    <hr>
                    
                    <div class="peoples-comments">
                        <h2>Comments</h2>
                        <div id="comments"></div>
            
                        <div class="add-comment">
                            <form action="/add_comment" method="POST">Add a comment
                                <input type="text" name="new_comment" id="comment">
                                <input type="submit" value="Post"
                            </form>
                        </div>
                    </div>

                </div>
                

                <div class="arrows1">
                    <div class="arr up"><div></div></div>
                    <div class="arr down"><div></div></div>
                </div>
                <div class="arrows2">
                    <div class="arr up"><div></div></div>
                    <div class="arr down"><div></div></div>  
                </div>
                

                <div class="box2">
                    <h3>Category 2</h3>
                    <img src = "{{image2}}">

                    <hr>

                    <div class="peoples-comments">
                        <h2>Comments</h2>
                        <div id="comments"></div>
            
                        <div class="add-comment">
                            <form action="/add_comment" method="POST">Add a comment
                                <input type="text" name="new_comment" id="comment">
                                <input type="submit" value="Post"
                            </form>
                        </div>
                    </div>

                </div>
            </body>
            
            <div class="image-upload" hidden>Upload an Image
               <form method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    {{form.file()}}
                    {{form.submit()}}
                </form> 
            </div>
            
        </div>
        

        <div class="images" hidden>
            
            <div class="logout" hidden>End Session
                <button id="comment-button" onclick="Logout()">Logout</button>
            </div>

            <h1>Images</h1>
                <div id="images">
                    <img src="/public/homepage.jpg" alt="Homepage image" width="50%" height="350"/> <!--prints whatever value is in alt if img is not uploaded correctly-->
                </div>
        </div>
    


        <div class="peoples-comments" hidden>

            <h2>Comments</h2>
            <div id="comments"></div>

            <div class="add-comment">
                <hr>
                Add Comment
                <form action="/add_comment" method="POST">
                    <input type="text" name="new_comment" id="comment">
                    <input type="submit" value="Post"
                </form>
            </div>

        </div>

    </div>   
</body>
{% endblock %}
