<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="authors" content="Jon, Jeehum, Mike, Kameron"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=""X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/main.js"> <!--This links the js to the html-->
        <link rel="icon" type="image/x-icon" href="/public/eagle.ico">
        <link rel="stylesheet" href="/static/login.css">
    </head>

    <body>
        <style>
            body{
                margin: 0;
                font-family: cursive;
            }
        </style>

        <h1>Create an account</h1>
            <form action="/signup" method="post">
                <label>Username<input id="login-form-username" type="text" name="login-username"/></label>
                <br/>
                <label>Password<input id="login-form-password" type="text" name="login-password"/></label>
                <br/>
                <label>Re-enter Password<input id="login-form-password2" type = 'text' name = 'login-password2'/></label>
                <br/>
                <a href='/signup'><button>Create</button></a>
            </form>

    </body>

</html>
