{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='tempposts.css')}}">
{% endblock %}

{% block body %}
<body onload="startup()">

    <h3>Let the world know what you're thinking!</h3><br>
    <div class="post-body">
        <form action="/makepost" method="POST">
            <label>Subject</label><br>
            <textarea class="subject" placeholder="Type subject here..." id="subjectbox" name="subjectbox" maxlength="100"></textarea><br>
            <br></br>

            <label>Message Body</label><br>
            <textarea class="messagebody" placeholder="Type message here..." id="messagebody" name="messagebody"></textarea><br>
            <br></br>

            <input type="submit" value="Post!">
        </form>
    </div>
    

    <div class="upload-image">

        <form action="/action_page" method="post" enctype="multipart/form-data">
            <label>Upload Image</label><br>
            <input type="file" id="myFile" name="filename" accept="image/jpeg, image/png, image/gif">
            <div class="filetypes">Supported file types: jpg, png, gif [Up to 1MB]</div>
            <input type="submit">
        </form> 

    </div>
    

</body>
{% endblock %}